html, body {
    background-color: black;
    color: white;
}

.workspace_container {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    transform: scaleY(-1);
}
#workspace {
    font-size: 512px;
}

